body {
        margin: 0px;
        padding: 0px;
      }
      header {
        background-color: cadetblue;
        text-align: center;
      }
      .container {
        width: 100%;
        background-color: rgb(109, 80, 255);
      }
      h1 {
        margin: 0;
      }
      nav {
        width: 20%;
        background-color: rgb(195, 51, 51);
      }
      section {
        width: 80%;
        background-color: rgb(233, 70, 44);
      }
      nav,
      section {
        float: left;
        padding: 20px;
        box-sizing: border-box;
      }
      footer {
        background-color: black;
        color: aliceblue;
        padding: 20px;
        text-align: center;
      }
